bin/
build/
target/
meta/
*.class
*.jar

out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws


.classpath
.project
.settings/

.idea/
*.iml
*.iws

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

*.log
*.tmp
*.temp

.DS_Store
Thumbs.db

/.mvn/wrapper/maven-wrapper.jar

/generated-sources/

/dependency/

.vscode/
.code-workspace

students.json
books.json
categories.json
loans.json
